@import "tailwindcss";

@plugin "daisyui"{
    themes: false;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Light.ttf");
}

body{
    font-family: "Poppins";
}

/*
html{
    @apply transition-colors duration-200;
}
body{
    @apply bg-white dark:text-gray-100 dark:bg-gray-900 text-gray-900;
}*/
